@model IEnumerable<AdvanceUMS.Models.tblTrade>
@{
    AdvanceUMS.Helper.GeneralHelper dHelper = new AdvanceUMS.Helper.GeneralHelper();
}

<h6 class="card-title mb-2">Trade List</h6>

@if (ViewBag.IsAdd == true)
{
    <div class="box-header">
        <a data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" href="/admin/tblTrades/create" class="btn btn-primary pull-right mt-3 mb-3">Add Trade</a>
    </div>
}

@{Html.RenderAction("PopulateTrades", "tblTrades");}