
@{
    ViewBag.Title = "Supervisor Create";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Create Supervisor
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/tblSupervisors">SupervisorList</a></li>
            <li class="active">Create Supervisor</li>
        </ol>
    </section>
    @Html.Partial("_CreateOrUpdate")
</div>


